# Set theme
remote_theme: daviddarnes/alembic

# 1. File excludes
exclude:
- README.md
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- screenshot.png
- LICENSE
- CNAME
- Gemfile
- Gemfile.lock
- alembic-jekyll-theme.gemspec
- .jekyll-cache

# 2. Installed Gems
plugins:
- jekyll-sitemap
- jekyll-mentions
- jekyll-paginate
- jekyll-seo-tag
- jekyll-redirect-from
- jekyll-default-layout
- jekyll-feed
- jekyll-commonmark
- jekyll-include-cache
- jemoji
- jekyll-remote-theme

# 3. Gem settings
#paginate: 2 # jekyll-paginate > items per page
#paginate_path: blog/page:num # jekyll-paginate > blog page

# 4. Jekyll settings
sass:
  style: compressed # Style compression
permalink: pretty  # Permalink style (/YYYY/MM/DD/page-name/)
excerpt_separator: <!-- more --> # Marks end of excerpt in posts
timezone: Europe/Helsinki # Timezone for blog posts and alike

# 5. Collections
collections:
  posts:
    title: Posts # Needed for Siteleaf
    output: true
    description: "" # The post list page content
    feature_text: |
      Welcome to the blog
    feature_image: "https://picsum.photos/2560/600?image=866"


# 6. Jekyll collections settings
defaults:
  -
    scope:
      path: ""
    values:
      image: "/assets/logos/logo_ja_nimi_bicolor.png" # Default image for sharing

# 7. Site settings
encoding: utf-8
lang: fi
url: 'https://liekki.yoga'
baseurl: ''
type: website
title: 'Lempeä Liekki'
description: 'Lämpöä ja hyvinvointia'
logo: "/assets/logos/logo64.png"
email: "lempealiekki@gmail.com"
facebook:
    publisher: https://www.facebook.com/LempeaLiekki/
css_inline: false # Will insert all styles into a single <style> block in the <head> element and remove the style <link> reference

# Site favicons & manifest icons
favicons: # Favicons are also used in the manifest file. Syntax is 'size: path'
  16: '/assets/logos/logo16.png'
  32: '/assets/logos/logo32.png'
  96: '/assets/logos/logo96.png'
  120: '/assets/logos/logo120.png'
  144: '/assets/logos/logo144.png'
  180: '/assets/logos/logo180.png'
  512: '/assets/logos/logo512.png'
  1024: '/assets/logos/logo1024.png'

# Header nav
navigation_header:
- title: Palvelut
  url: /
- title: Ajanvaraus
  url: /ajanvaraus/
- title: Yhteystiedot
  url: /yhteystiedot/
- title: Media
  url: /media/

# Footer nav
navigation_footer:
- title: Alkuun
  url: "#top"
