---
title: false
styles: true
---

$backgroundColour: #401f02 !default;
$featureBackgroundColour: #ffe427 !default;
$linkColour: #ffe427 !default;

$headingColour: #ff5000 !default;
$bodyColour: #ff5000 !default;

button {
	background: #ff5000;
}

@import "alembic";