---
title: false
styles: true
---

$backgroundColour: #401f02 !default;
$featureBackgroundColour: #ffe427 !default;
$linkColour: #ffe427 !default;
$accentColour: #ffe427 !default;
$captionColour: #ffe427 !default;

$headingColour: #ff5000 !default;
$bodyColour: #ff5000 !default;

.acuity_iframe{
	filter: url("/assets/booking_filter.svg")
}

@import "alembic";